@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");
body {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  font-family: "Open Sans";
  background-position: center;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em;
}

.navblock {
  background-color: rgba(186, 186, 186, 0.9);
  padding: 1em;
  margin: 0;
  text-align: center;
  display: block;
}
.navblock ul {
  display: flex;
  place-content: space-between;
}
.navblock ul li .burger {
  cursor: pointer;
  margin: 1em;
  margin-top: 1.5em;
}

nav {
  display: none;
  background-color: rgba(245, 245, 245, 0.9);
  position: fixed;
  z-index: 998;
  width: 60%;
  top: 0;
  right: 0;
  height: 100vh;
}
nav ul {
  list-style-type: none;
  margin-top: 0.5em;
  margin-right: 1em;
  padding: 1em;
  text-align: right;
  text-transform: uppercase;
  font-family: "Orbitron";
}
nav ul li {
  margin-top: 1em;
}
nav ul li a {
  font-size: 1.3em;
}
nav ul li a:link, nav ul li a:visited {
  text-decoration: none;
  color: black;
}
nav ul li a:hover, nav ul li a:active {
  color: yellowgreen;
  text-decoration: underline;
}

.hero .subhero {
  display: block;
  margin: 0 auto;
  background-color: rgba(154, 205, 50, 0.9);
  border-radius: 0.75em;
  padding: 1em;
  margin-top: 3em;
  max-width: 50em;
}
.hero .subhero .calltoaction {
  text-align: center;
  font-family: "Orbitron";
  text-transform: uppercase;
  font-size: 2em;
}
.hero .subhero .actionbutton {
  text-align: center;
  display: block;
  margin: 0.5em auto;
  padding: 0.5em;
  background-color: green;
  text-decoration: none;
  border-radius: 0.5em;
  font-family: "Orbitron";
  text-transform: uppercase;
  border-style: none;
  color: black;
  font-size: 1.5em;
}
.hero .subhero .actionbutton:hover, .hero .subhero .actionbutton:active {
  background-color: yellowgreen;
  color: whitesmoke;
}

.mainbody {
  background-color: rgba(82, 81, 81, 0.9);
  margin-top: 5em;
}
.mainbody .container .column {
  display: inline-block;
}
.mainbody .container .column h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Orbitron";
  color: yellowgreen;
}
.mainbody .container .column p {
  font-family: "Open Sans";
  color: whitesmoke;
}

.servicesprovided h2 {
  font-family: "Orbitron";
  text-transform: uppercase;
  text-align: center;
  color: yellowgreen;
}
.servicesprovided .servicestable li {
  display: grid;
  place-items: center;
}
.servicesprovided .servicestable li img {
  height: 5em;
}
.servicesprovided .servicestable li p {
  font-family: "Orbitron";
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
}/*# sourceMappingURL=main.css.map */