@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

body
{
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    font-family: 'Open Sans';
    background-position: center;
    margin: 0;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section
{
    padding: 1em;
}
.navblock
{
    background-color: rgba(186, 186, 186, .9);
    padding: 1em;
    margin: 0;
    text-align: center;
    display: block;

    ul
    {
        display: flex;
        place-content: space-between;
        
        li
        {
            .burger
            {
                cursor: pointer;
                margin: 1em;
                margin-top: 1.5em;
                
            }
        }
    }
}
nav
{
    display: none;
    background-color: rgba(245, 245, 245, .9);
    position: fixed;
    z-index: 998;
    width: 60%;
    top: 0;
    right: 0;
    height: 100vh;
    ul 
    {
        list-style-type: none;
        margin-top: 0.5em;
        margin-right: 1em;
        padding: 1em;
        text-align: right;
        text-transform: uppercase;
        font-family: "Orbitron";
        li
        {
            margin-top: 1em;
            a 
            {
                font-size: 1.3em;
            }
            a:link, a:visited
            {
                text-decoration: none;
                color: black;
            }
            a:hover, a:active
            {
                color: yellowgreen;
                text-decoration: underline;
            }
        }
        
    }
}

.hero
{
    .subhero
    {
        display: block;
        margin: 0 auto;
        background-color: rgba(154, 205, 50, .9);
        border-radius: .75em;
        padding: 1em;
        margin-top: 3em;
        max-width: 50em;
        .calltoaction
        {
            text-align: center;
            font-family: "Orbitron";
            text-transform: uppercase;
        }
        .actionbutton
        {
            display: block;
            margin: .5em auto;
            padding: .5em;
            background-color: green;
            text-decoration: none;
            border-radius: .5em;
            font-family: "Orbitron";
            text-transform: uppercase;
            border-style: none;
        }
    }
}
