@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

body
{
    background-image: url("images/bg.jpg");
    font-family: 'Open Sans';
    margin: 0;
}

.topbar
{
    background: rgba(107, 107, 107, .5);
    padding: 1em;
    text-align: center;
}
.busName
{
    font-family: 'Michroma';
    text-transform: uppercase;
    font-size: 76px;
    text-decoration: none;
    font-weight: normal;
    color: black;
    margin: 0;
}
span
{
    color:greenyellow;
}
.sublogo
{
    font-family: 'Michroma';
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    font-weight: normal;
    color: black;
    margin: 20px;
}
nav
{
    font-family: 'Michroma';
    text-transform: uppercase;
}
ul#navbar
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: table;
    text-align: center;
}
ul li
{
    display: inline-block;
    float: none;
    list-style-type:none;
    margin: 12px;
}
ul li a:link, ul li a:visited
{
    color: black;
    text-decoration: none;
}
ul li a:hover, ul li a:active
{
    color: greenyellow;
    text-decoration: underline;
}
.currentPage
{
    font-weight: bold;
}