@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

body
{
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    font-family: 'Open Sans';
    background-position: center;
}
.navblock
{
    background-color: rgba(186, 186, 186, .8);
    padding: 10px;
    margin: 0px;
    text-align: center;
    display: block;

    ul
    {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        
        li
        {
            .burger
            {
                margin: 20px;
                margin-top: 30px;
                border: 5px solid yellowgreen;
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}

nav
{
    //display: none;
    background-color: whitesmoke;
    position: fixed;
    top: 140px;
    right: 40px;
    ul 
    {
        list-style-type: none;
        padding: 10px;
        text-align: right;
        text-transform: uppercase;
        font-family: "Orbitron";
        li a:link, li a:visited
        {
            
            text-decoration: none;
            color: black;
        }
        li a:hover, li a:active
        {
            color: yellowgreen;
            text-decoration: underline;
        }
    }
}

