@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body 
{
    background-image: url("images/bg.jpg");
    font-family: 'Open Sans';
}
.navbar
{
    background: rgba(107, 107, 107, .5);
}
.busName
{
    
}
