@font-face
{
    font-family: 'Orbitron';
    src: url("/fonts/Orbitron-VariableFont_wght.woff2") format("woff2"), url("/fonts/Orbitron-VariableFont_wght.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face
{
    font-family: 'Open Sans';
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"), url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html 
{
    height: 100%;
}

body
{
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    font-family: 'Open Sans', system-ui, sans-serif;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section
{
    padding: 1em;
}
.navblock
{
    background-color: rgba(186, 186, 186, .9);
    padding: 1em;
    margin: 0;
    text-align: center;
    display: block;

    ul
    {
        display: flex;
        place-content: space-between;
        
        li
        {
            .burger
            {
                cursor: pointer;
                margin: 1em;
                margin-top: 1.5em;
            }
        }
    }
}

nav
{
    display: none;
    background-color: rgba(245, 245, 245, .9);
    position: fixed;
    z-index: 998;
    width: 60%;
    max-width: 20em;
    top: 0;
    right: 0;
    height: 100vh;
    &.menu-btn
    {
        display: block;
    }
    ul 
    {
        list-style-type: none;
        margin-top: 0.5em;
        margin-right: 1em;
        padding: 1em;
        text-align: right;
        text-transform: uppercase;
        font-family: 'Orbitron', system-ui, sans-serif;
        li
        {
            margin-top: 1em;
            img 
            {
                margin-bottom: 1em;
                cursor: pointer;
            }
            a 
            {
                font-size: 1.2em;
            }
            a:link, a:visited
            {
                text-decoration: none;
                color: black;
            }
            a:hover, a:active
            {
                color: yellowgreen;
                text-decoration: underline;
            }
        }
        
    }
}

.hero
{
    margin-bottom: 2em;
    a 
    {
        text-decoration: none;
        .subhero
        {
            display: block;
            margin: 0 auto;
            background-color: rgba(154, 205, 50, .9);
            border-radius: .75em;
            padding: 1em;
            margin-top: 3em;
            max-width: 50em;
            .calltoaction
            {
                text-align: center;
                font-family: 'Orbitron', system-ui, sans-serif;
                text-transform: uppercase;
                font-size: 2em;
                color: black;
            }
            .actionbutton
            {
                text-align: center;
                display: block;
                margin: .5em auto;
                padding: .5em;
                background-color: green;
                text-decoration: none;
                border-radius: .5em;
                font-family: 'Orbitron', system-ui, sans-serif;
                text-transform: uppercase;
                border-style: none;
                color: black;
                font-size: 1.5em;
                cursor: pointer;
            }
            .actionbutton:hover, .actionbutton:active
            {
                background-color: yellowgreen;
                color: whitesmoke;
            }
        }
    }
    h1 
    {
        text-align: center;
        font-family: 'Orbitron', system-ui, sans-serif;
        font-size: clamp(40px, 6vw, 100px);
        color: yellowgreen;
        text-shadow: 2px 2px 5px black;
    }
}

.mainbody
{
    flex: 1 0 auto;
    background-color: rgba(82, 81, 81, 0.9);
    .container
    {
        margin-top: 2em;
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        .column
        {
            margin: 2em;
            h3 
            {
                text-align: center;
                text-transform: uppercase;
                font-family: 'Orbitron', system-ui, sans-serif;
                color: yellowgreen;
            }
            p 
            {
                font-family: "Open Sans", system-ui, sans-serif;
                color: whitesmoke;
                text-align: center;
                width: 20em;
            }
        }
    }
    h1
    {
        font-family: "Orbitron", system-ui, sans-serif;
        text-transform: uppercase;
        font-size: 4em;
        text-align: center;
        color: yellowgreen
    }
    p 
    {
        text-align: center;
        color: whitesmoke;
    }
    a 
    {
        text-decoration: none;
        text-align: center;
        p 
        {
            color: yellowgreen;
        }
    }
    a:hover, a:active
    {
        color: yellowgreen;
        text-decoration: underline;
    }
    h2 
    {
        color: whitesmoke;
        font-family: "Open Sans", system-ui, sans-serif;
        text-align: center;
    }
}

.servicesprovided
{
    h3
    {
        font-family: 'Orbitron', system-ui, sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: yellowgreen;
        font-size: 1.5em;
        
    }
    .servicestable
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        li 
        {
            
            margin: 1%;
            .service-icon
            {
                height: 6em;
                margin: .5em;
                cursor: pointer;
                transition: transform .15s ease;
            }
            .service-icon.active 
            {
                transform: scale(1.05);
            }
            p 
            {
                font-family: 'Orbitron', system-ui, sans-serif;
                text-transform: uppercase;
                color: whitesmoke;
                text-align: center;
                max-width: 8em;
                font-size: .8em;
                margin: auto;
            }
            
        }
    }
}

.service-description
{
    margin-top: 2em;
    text-align: center;
    margin-bottom: 5em;

    .service-text
    {
        display: none;
        max-width: 800px;
        margin: auto;
        h3 
        {
            font-family: 'Orbitron', system-ui, sans-serif;
            color: yellowgreen;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        p 
        {
            font-family: 'Open Sans', system-ui, sans-serif;
            color: whitesmoke;
            font-style: italic;
            font-size: 1.1em;
        }
        
    }
    .service-text.active
    {
        display: block;
    }
}



form 
{
    font-family: 'Open Sans', system-ui, sans-serif;
    color: whitesmoke;
    max-width: 70vw;
    margin: auto;
    margin-bottom: 2em;
    display: block;

    h3 
    {
        font-style: italic;
    }
    fieldset 
    {
        display: flex;
        gap: 2em;
        border: none;
        margin: 0;
        legend
        {
            width: 100%;
            margin-bottom: .5em;
        }
        label
        {
            display: flex;
            gap: .4em;
            cursor: pointer;
            input 
            {
                width: 20px;
                height: 20px;
            }
        }
        

    }
    label 
    {
        margin-bottom: 1em;
        input 
        {
            width: 100%;
            padding: .6em;
            margin-top: .25em;
        }
        textarea
        {
            width: 100%;
            padding: .6em;
            margin-top: .25em;
        }
        select 
        {
            width: 100%;
            padding: .6em;
            font-family: 'Open Sans', system-ui, sans-serif;
        }
    }
    p 
    {
        font-size: .6em;
        text-align: left !important;
    }
    
    button 
    {
        display: flex;
        margin: auto;
        margin-top: 1em;
        padding: .3em;
        font-family: 'Orbitron', system-ui, sans-serif;
        font-size: 2em;
        background-color: yellowgreen;
        border-radius: .2em;
        border: none;
        cursor: pointer;
    }
    button:hover, button:active
    {
        background-color: whitesmoke;
        color: black;
    }
    .conditional 
    {
        display: none;
    }
    div 
    {
        #checkbox
        {
            display: block;
        }
        fieldset
        {
            legend
            {
                margin-top: .5em;
            }
        }
        label
        {
            input 
            {
                text-transform: uppercase;
                font-family: 'Open Sans', system-ui, sans-serif;
            }
        }
        
    }
}

.footer
{
    background-color: rgba(82, 81, 81, 0.9);
    .footerList
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: calc(9px + .1vw);
        
        li 
        {
            color: whitesmoke;
            margin: 0;
            margin-left: 1em;
            margin-right: 1em;
            text-transform: uppercase;
            a 
            {
                text-decoration: none;
                color: yellowgreen;
                text-align: center;
            }
        }
    }
}